# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt


# Support Libs
OriginalCompanions
Minecraft_Client_Source_1.21.1
ModDevGradle-main
NeoForge-1.21.x
BasicWeapons
PetTracker
WizardTower
Curios-1.21.x
artifacts-1.21.x
relics-1.21.1
irons-jewelry-1.21.1